<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite  name="ICICI">

   <test name="ICICIPackage" >
       <classes>
           <class name="ICICIPackage.ICICIPageObject">
           <methods>
          <include name="signin"/>
        </methods>
           </class>
       </classes>
   </test>
</suite>